@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.titulo{
    font-family: 'Montserrat', sans-serif;
}

.pokemon {
    width: 100px ;
    height: 100px;
}

.btn {
    float: right;
}